<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard - Bank App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>User Dashboard</h1>
        <button>Create an account</button>
        <button>Sign in</button>
        <div class="account-info">
            <p><strong>Account Number: 000111222333</strong> </p>
            <p><strong>Balance: $0</strong> </p>
        </div>

    </div>
</body>
</html>
